/*reset*/
*{padding:0;margin:0;-webkit-font-smoothing: antialiased;}
html{font-size:50px;-webkit-tap-highlight-color:transparent;height:100%;min-width:320px;overflow-x:hidden;}
body{font-family:"microsoft yahei";font-size:.28em;line-height:1;color:#333;background-color:#f5f5f5;-webkit-overflow-scrolling:touch;}
img{vertical-align:middle;border:0}
h1 { font-size: .34rem; }

/*public*/
body { padding-bottom: 1rem; }
.clear { zoom:1; }
.clear:after { content:''; display:block; height: 0; clear:both; }

/*layout*/
header {
    position: relative;
    height: .86rem;
    text-align: center;
    line-height: .86rem;
    color: #fff; 
    background: #91d4da;
}

header > a {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: .55rem;
    font-size: .34rem;
}

header > a:before {
    position: absolute;
    top: 0;
    left: .22rem;
    content: "<";
}

header > h1 {
    font-size: .36rem;
}


nav {
    background: #fff;
    display: -webkit-flex;
            display: flex;
}

nav > span {
    display: block;
    width: 20%;
    height: .88rem;
    -webkit-flex: 1;
            flex: 1;
    text-align: center;
    line-height: .88rem;
    box-sizing: border-box;
}

nav > span.active { border-bottom: .07rem solid #91d4da; }

.banner img { width: 100%; }

.brand-wrap {
    padding: 0 .2rem;
    background: #fff;
}

.brand {
    display: -webkit-flex;
            display: flex;
     -webkit-justify-content: space-between;
             justify-content: space-between;
}

.brand > figure {
    -webkit-flex: 1;
            flex: 1;
    text-align: center;
}

.brand > figure > img {
    width: .9rem;
    padding-bottom: .3rem;
}

.brand > figure > p { text-align: center;}

.brand.tag { 
    padding: .4rem 0; 
    border-bottom: 1px solid #e5e5e5;
}

.brand.colunm { 
    padding: .3rem 0;  
}
.brand.colunm > figure { padding: .1rem 0; }
.brand.colunm > figure:not(:last-child) { border-right: 1px solid #e5e5e5; }
.brand.colunm > figure > img { width: 1.6rem; height: 1.4rem; }
.brand.colunm > figure > p { margin-top: .2rem; }

.module { 
    padding: .2rem .22rem;  
    margin-top: .26rem; 
    background: #fff;
}

.module > h1 {
    height: .84rem;
    line-height: .64rem;
    border-bottom: 1px solid #e5e5e5;
}

.module > figure { 
    padding: .28rem 0; 
    display: -webkit-flex;
            display: flex;
}

.module > figure img { 
    width: 1.81rem;
    height: 1.7rem;
}

.module > figure > .imgDesc { 
    margin-left: .2rem; 
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.module > figure > .imgDesc > span {
    width: 2.4rem;
    height: .76rem;
    text-align: center;
    line-height: .76rem;
    color: #343434;
    background: #f8f8f8;
}
.module > figure > .imgDesc > span:nth-of-type(3),
.module > figure > .imgDesc > span:nth-of-type(4) { -webkit-align-self: flex-end; align-self: flex-end}

article {
    padding: .18rem .2rem;
    background: #fff;
    margin-top: .04rem;
}

article > p { color: #c3c3c3; }

.atc-style1 {
    position: relative;
    overflow: hidden;
}

.atc-style1 > img {
    float: left;
    width: 2.1rem;
}

.atc-style1 > h1 { 
    padding-right: .5rem;
    margin-left: 2.34rem; 
}

.atc-style1 > p {
    position: absolute;
    left: .2rem;
    bottom: .18rem;
    margin-left: 2.34rem;
}

.atc-style2 > figure {
    padding-bottom: .2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.atc-style2 > figure > img {
    width: 2.3rem;
    height: 1.54rem;
}

.atc-style2 > h1 {
    height: .6rem;
    line-height: .42rem;
}

